/* GENERAL */
* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p,
.buttons {
	max-width: $text-max-width;
}

h1, h2, h3, h4, h5, h6,
p, li,
.buttons {
	padding: 0 2 * $blh;
	margin: 0 auto 2 * $blh;
}

div {
	margin: 0 auto;
}

img {
	object-fit: contain;
	object-position: center;
	display: block;
	max-width: 100%;
	margin: 0 auto 2 * $blh;
}

.precio,
.cantidad,
.categorias {
	padding: 0 2 * $blh;
}

.product {
	padding-bottom: 2 * $blh;
}

// PRODUCTO
.product {
	border-radius: $blh;
	box-shadow: 2px 2px 5px 0px rgba(black, 0.5);
	margin: 0 $blh 2 * $blh;
	overflow: hidden;
	max-width: $text-max-width;
	margin: 0 auto 2 * $blh;

	img {
		height: 20 * $blh;
		width: 100%;
	}
}

// PRODUCTOS
.products {
	max-width: 1280px;
	margin: 0 auto;

	@media screen and (min-width: $bp-2) {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		li {
			padding: 0;
			width: calc(50% - #{2 * $blh});
		}

		.product {
			min-height: 100%;
		}
	}

	@media screen and (min-width: $bp-3) {
		li {
			width: calc(33.3333% - #{2 * $blh});
		}
	}
}